@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Montserrat";
  }
}

.input-color {
  background-color: #f9f9f9;
}

.primary-color {
  background-color: #23a6f0;
}
